<div class="container">
  <header>
    <h2>💎 STEVEN HOTEL - MULTIPLAYER ARENA</h2>
    <span class="badge" [class.conectado]="statusConexao.includes('🟢')">
      {{ statusConexao }}
    </span>
  </header>

  <div class="caixa-login">
      <h2>Entre no Quarto</h2>
      <h3>escolha a sua Gem:</h3>

      <div class="selecao-personagem">
        <div class="lista-gems">
          <div class="gem-item" *ngFor="let p of personagens" (click)="personagemSelecionado = p.url">
            
            <div class="nome-gem" [class.destaque]="personagemSelecionado === p.url">
              {{ p.nome }}
            </div>
            
            <img [src]="p.url" 
                 [alt]="p.nome"
                 class="gem-opcao"
                 [class.selecionado]="personagemSelecionado === p.url">
          </div>
        </div>
      </div>

      <input type="text" [(ngModel)]="nicknameUsuario" placeholder="digite seu nome" (keyup.enter)="entrarNoQuarto()">
      
      <button class="btn-entrar" (click)="entrarNoQuarto()">ENTRAR NO HOTEL</button>
    </div>
  <main *ngIf="conectadoNoQuarto">
    
    <div class="alerta-vitoria" *ngIf="vencedorPartida">
      👑 CORRE AQUI! <strong>{{ vencedorPartida }}</strong> chegou na última linha e GANHOU O QUIZ! 👑
    </div>


    <section class="palco-templo">
      <div class="pista-corrida">
        <ng-container *ngFor="let jogador of listaJogadores">
          
          <div class="personagem-container" 
               [style.left.%]="jogador.linha * 20" 
               [class.meu-personagem]="jogador.nickname === nicknameUsuario">
            
            <div class="tag-nome">{{ jogador.nickname }}</div>
            
            <img [src]="jogador.personagemUrl || 'https://media.giphy.com/media/xorKMdTO2C28L96e9I/giphy.gif'" class="sprite-boneco" [alt]="jogador.nickname">
            
          </div>
          
        </ng-container>
      </div>
    </section>

    <section class="card-pergunta" *ngIf="desafioAtual">
      <span class="tag">Mestre do Jogo diz:</span>
      <h3>❓ {{ desafioAtual.comando }}</h3>
      <p class="dica">💡 <em>Dica: {{ desafioAtual.dica }}</em></p>
      
      <div class="area-resposta">
        <input type="text" [(ngModel)]="chuteUsuario" placeholder="Digite a resposta rápida..." (keyup.enter)="enviarChute()">
        <button class="btn-responder" (click)="enviarChute()">CHUTAR!</button>
      </div>
    </section>

    <section class="feed">
      <div class="balao-fala" *ngFor="let notif of feedNotificacoes" [class.sucesso]="notif.acertou" [class.erro]="!notif.acertou">
        <div class="avatar-icon">{{ notif.acertou ? '⭐' : '💬' }}</div>
        <div class="texto-balao">
          {{ notif.mensagem }}
        </div>
      </div>
      <p class="vazio" *ngIf="feedNotificacoes.length === 0">*** Nenhum grito no quarto ainda... ***</p>
    </section>
  </main>
</div>