<div class="container">
  <header>
    <h2>💎 STEVEN HABBO HOTEL - MULTIPLAYER ARENA</h2>
    <span class="badge" [class.conectado]="statusConexao.includes('🟢')">
      {{ statusConexao }}
    </span>
  </header>

  <div class="tela-login" *ngIf="!conectadoNoQuarto">
    <div class="caixa-login">
      <h3>🏨 Entre no Quarto do Steven</h3>
      <p>Escolha seu nickname para se juntar à competição de sistemas distribuídos:</p>
      <input type="text" [(ngModel)]="nicknameUsuario" placeholder="Ex: Lorrany_F" (keyup.enter)="entrarNoQuarto()">
      <button class="btn-entrar" (click)="entrarNoQuarto()">ENTRAR NO HOTEL</button>
    </div>
  </div>

  <main *ngIf="conectadoNoQuarto">
    
    <div class="alerta-vitoria" *ngIf="vencedorPartida">
      👑 CORRE AQUI! <strong>{{ vencedorPartida }}</strong> chegou na última linha e GANHOU O QUIZ! 👑
    </div>


    <section class="arena-tabuleiro">
      <h4>🏃 MAPA DAS LINHAS (LINHA 1 ATÉ 5)</h4>
      <div class="linha-pista" *ngFor="let numLinha of [0, 1, 2, 3, 4]">
        <div class="numero-linha">L{{ numLinha + 1 }}</div>
        <div class="espaco-jogadores">
          <ng-container *ngFor="let jogador of listaJogadores">
            <div class="player-token" *ngIf="jogador.linha === numLinha" [class.meu-token]="jogador.nickname === nicknameUsuario">
              👤 {{ jogador.nickname }}
            </div>
          </ng-container>
        </div>
      </div>
    </section>

    <section class="card-pergunta" *ngIf="desafioAtual">
      <span class="tag">Mestre do Jogo diz:</span>
      <h3>❓ {{ desafioAtual.comando }}</h3>
      <p class="dica">💡 <em>Dica: {{ desafioAtual.dica }}</em></p>
      
      <div class="area-resposta">
        <input type="text" [(ngModel)]="chuteUsuario" placeholder="Digite a resposta rápida..." (keyup.enter)="enviarChute()">
        <button class="btn-responder" (click)="enviarChute()">CHUTAR!</button>
      </div>
    </section>

    <section class="feed">
      <div class="balao-fala" *ngFor="let notif of feedNotificacoes" [class.sucesso]="notif.acertou" [class.erro]="!notif.acertou">
        <div class="avatar-icon">{{ notif.acertou ? '⭐' : '💬' }}</div>
        <div class="texto-balao">
          {{ notif.mensagem }}
        </div>
      </div>
      <p class="vazio" *ngIf="feedNotificacoes.length === 0">*** Nenhum grito no quarto ainda... ***</p>
    </section>
  </main>
</div>