<div style="padding: 2rem; max-width: 700px; margin: auto; font-family: sans-serif;">
  
  <h2>Meu Banco Digital 🏦</h2>
  <p style="margin-bottom: 2rem; color: #aaa;">Painel do Cliente integrado via API Gateway</p>

  <!-- CAIXA DE BUSCA -->
  <div style="display: flex; gap: 10px; margin-bottom: 20px; align-items: center;">
    <input 
      type="text" 
      #idInput 
      placeholder="Digite o ID..." 
      style="padding: 10px; border-radius: 6px; border: 1px solid #555; background-color: #222; color: #fff; width: 150px; font-size: 16px;">
    
    <p-button label="Acessar Conta" icon="pi pi-sign-in" (click)="buscarDados(idInput.value)"></p-button>
  </div>

  <!-- CARD DA CONTA DO PRIMENG -->
  <p-card *ngIf="dadosCliente" header="Olá, {{ dadosCliente.titular }}!" subheader="Resumo da sua conta">
    
    <div style="font-size: 1.2rem; line-height: 1.8; margin-bottom: 1.5rem;">
      <p><strong>Saldo Disponível:</strong> {{ dadosCliente.saldo | currency:'BRL' }}</p>
      <p><strong>Limite de Crédito:</strong> {{ dadosCliente.limite | currency:'BRL' }}</p>
      
      <div style="display: flex; align-items: center; gap: 10px; margin-top: 10px;">
        <strong>Status de Segurança:</strong>
        <p-tag 
          [severity]="dadosCliente.status_bloqueado ? 'danger' : 'success'" 
          [value]="dadosCliente.status_bloqueado ? 'CONTA BLOQUEADA' : 'CONTA ATIVA'">
        </p-tag>
      </div>
    </div>

    <!-- HATEOAS DINÂMICO -->
    <ng-template pTemplate="footer">
      <div style="display: flex; gap: 10px; flex-wrap: wrap;">
        <p-button icon="pi pi-list" label="Ver Extrato" severity="info"></p-button>
        
        <ng-container *ngIf="dadosCliente._links">
            <p-button *ngIf="dadosCliente._links.transferir" icon="pi pi-send" label="Transferir" severity="success"></p-button>
            <p-button *ngIf="dadosCliente._links.pagar_boleto" icon="pi pi-barcode" label="Pagar Boleto" severity="secondary"></p-button>
        </ng-container>
      </div>
    </ng-template>
  </p-card>

</div>